<div class="container">
  <h2>Fluxo de Caixa</h2>
  <div>
    <label for="dataInicial">Data Inicial:</label>
    <input type="date" id="dataInicial" [(ngModel)]="dataInicial">
    <label for="dataFinal">Data Final:</label>
    <input type="date" id="dataFinal" [(ngModel)]="dataFinal">
    <button (click)="filtrarPorData()">Filtrar</button>
  </div>
  <table class="table table-striped">
  <thead>
<tr>
  <th>Nome/Html</th>
  <th>Descricao</th>
  <th>Valor</th>
  <th>C/D</th>
  <th>Vencimento</th>
</tr>
  </thead>
  <tbody *ngFor="let reg of regs">

<tr><td *ngIf="reg.imagem; else: semimagem"><a href="{{reg.imagem}}" target="_blank">{{reg.nome}}</a></td>
<ng-template #semimagem>
  <td>{{reg.nome}}</td>
</ng-template>
<td>{{reg.descricao}}</td>
<td>{{reg.valor}}</td>
<td>{{reg.CD}}</td>
<td>{{reg.venc | date:'dd-MM-yyyy'}}</td><button (click)="deletar(reg)">Delete</button>
<button (click)="editar(reg)">Editar</button>
</tr>
  </tbody>
    <tbody>
  <tr>
    <td colspan="2"><strong>Total:</strong></td>
    <td>{{getTotal()}}</td>
    <td colspan="2"></td>
  </tr>
  </tbody>
  </table>
</div>
