<form (ngSubmit)="updReg()">
   <div>
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" [(ngModel)]="reg.id" readonly>
  </div>
  <div>
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" [(ngModel)]="reg.nome" required>
  </div>
    <div>
    <label for="imagem">Html:</label>
    <input type="text" id="imagem" name="imagem" [(ngModel)]="reg.imagem">
  </div>
  <div>
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" [(ngModel)]="reg.descricao"></textarea>
  </div>
  <div>
    <label for="valor">Valor:</label>
    <input type="number" id="valor" name="valor" [(ngModel)]="reg.valor">
  </div>
  <div>
    <label for="CD">C/D:</label>
    <input type="text" id="CD" name="CD" [(ngModel)]="reg.CD">
  </div>
  <div>
    <label for="tipo">Tipo:</label>
    <input type="text" id="tipo" name="tipo" [(ngModel)]="reg.tipo">
  </div>
   <div>
      <mat-form-field>
      <mat-label>Vencimento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="reg.venc" name="venc">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
   <button type="submit">Atualizar Registro</button>
</form>
